.bg-image {
    background-image: url("../images/blog-main-background.jpg");
    height: 100vh;
    min-height: 275px;
    background-repeat: no-repeat;
    background-position: center;
}

.bg-opacity {
    background-color: rgba(0,0,0, 0.4);
    height: inherit;
    min-height: 275px;
}

.logout-form {
    width: fit-content;
}

.form {
    width: 100%;
}

.input-label {
    color: white;
}

.title {
    color: white;
}

.blog-input {
    width: 100%;
}
