.my-posts a {
    color: black;
    text-decoration: none;
}

.show-my-posts {
    margin: 0;
}

.post-item a {
    text-decoration: none;
    color: black;
}

.post-title {
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

.post-title:hover {
    text-decoration: underline;
    text-decoration-color: #0d6efd;
    text-decoration-thickness: 3px;
}

.form-delete {
    width: fit-content;
    display: inline-block;
}

.post-item-main {
    background-image: url("../images/post-bg.jpg");
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
}

.post-item-opacity {
    background-color: rgba(0,0,0, 0.6);
    height: inherit;
}

.post-item-opacity form {
    width: 100%;
}

.post-item-label {
    font-size: 18px;
    font-weight: bold;
}

.post-item-input {
    width: 100%;
    border: 2px solid #0d6efd;
    border-radius: 5px;
}

.comment-container {
    border: 1px solid;
    border-radius: 5px;
}

.edit-a {
    text-decoration: none;
}

.created {
    font-size: 14px;
}

.avatar-comment {
    border-radius: 25px 25px;
}

.not-found {
    height: 60vh;
}
